#head 
  a(class='ahead' href='/') Home Page
  |
  a(class='ahead' href='/products') Products
  |
  a(class='ahead' href='/register') Add Product
  |
  a(class='ahead' href='/reviews') Reviews
  |
  a(class='ahead' href='/orders') Orders
  |
  a(class='ahead' href='/order-form') Order Form
  