html(lang="en")
    head   
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css")
        title Products
    body
        include ./header

        div#search-bar
            form(action="/products", method="get")
                input(type="text", name="name", placeholder="Search for products by name...")
                label
                    input(type="checkbox", name="instock", value="1")
                    | In Stock
                button(type="submit") Search
        div#list
            h1 #{title}
            div.product-header
                span.stock-header Stock
                span Name
            if(products.length)
                each product in products
                    div.product-item
                        a(class='product' href="/products/:" + product.id)
                            span(class="product-stock") #{product.stock}
                            span #{product.name}
            else
                a(class='product') No existing products found
